/*---------------Global CSS---------------*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;;
     --fontcolor: #333333; /*font color*/
    --bgcolor: #f0f2f5; /*background color*/
    font-size: 21px;
}


body {
    background-color: var(--bgcolor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 34px;
    align-items: center;
    width: 100%;
    margin-bottom: 200px;
}
/* ---------------------------------SIGNUP---------------------------------
------------------------------------------------------------------------ */

/*---------------HERO SECTION---------------*/

#hero {
    display: flex;
    flex-direction: column;
    width: 530px;
    align-items: center;
}

#hero img {
    margin-right: auto;
    transform: translateX(-30px);
    width: 305px;
}

#hero p {
    font-size: 28px;
    color: #1c1e21;
    text-align: left;
}

/*---------------FORM SECTION---------------*/

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;

}

#login > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 6px;
    height: 490px;
    width: 396px;
    padding: 15px 15px 24px 15px;
    box-shadow: 0px 3px 7px rgba(128, 128, 128, 0.434);
}

#login input {
    height: 53px;
    padding: 14px 16px;
    font-size: 17px;
    border: 1px lightgray solid;
    border-radius: 6px;
    width: 100%;
}

#login input::placeholder {
    color: rgb(161, 161, 161);
}

#login >div > input:focus {
    outline: none !important;
    border:1px solid rgb(0, 136, 255);
    box-shadow: 0 0 0px 2px#007bff1f;
}

/*login button*/
#login-btn  {
    background-color: dodgerblue;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    height: 50px;
    width: 100%;
}

#login-btn:hover { /*animation on hover*/
    cursor: pointer;
    transition: ease .3s;
    background-color:rgb(30, 109, 255);
}

#login-btn:not(:hover) { /*animation on hover*/
    transition: ease .3s;
    background-color:dodgerblue;
}

/*horizental line*/
.hr {
    background-color: lightgray;
    height: 0.7px;
    width: 100%;
    margin: 10px 0;
}

/* create new account */
#new-account {
    background-color:limegreen;
    color: white;
    border: none;
    border-radius: 6px;
    width: 200px;
    height: 47px;
    font-size: 17px;
    font-weight: 600;
}

#new-account:hover { /*animation on hover*/
    cursor: pointer;
    transition: ease .3s;
    background-color:rgb(0, 166, 0);
}

#new-account:not(:hover) { /*animation on hover*/
    transition: ease .3s;
    background-color:limegreen;
}

/*create a page button*/
#login span>button {
    margin-top: 30px;
    border: none;
    background-color: none;
}

#login span>button:hover {
    cursor: pointer;
    text-decoration: underline;
}

#login span, #login span > button {
    font-size: 14px;
}

/*--------------media queries--------------*/
@media screen and (max-width: 998px) {
    #hero > p {
        text-align: center;
        font-size: 23px;
        width: 400px;
    }

    #hero > img {
        margin: 0;
        padding: 0;
        transform: translateX(0);
    }

    #login {
        margin-top: 20px;
    }
    #container {
        justify-content: center;
    }
}

#signup-button {
    width: 290px;
    height: 52px;
    border: none;
    font-size: 17px;
    border-radius: 8px;
    font-weight: 600;
    background-color: dodgerblue;
    color: white;
}

#signup-button:hover, #login-button:hover {
    cursor: pointer;
}

#login-button {
    width: 190px;
    height: 46px;
    border: none;
    font-size: 17px;
    border-radius: 8px;
    font-weight: 600;
    background-color: limegreen;
    color: white;
}

/* ---------------------------------PROFILE---------------------------------
---------------------------------------------------------------------------- */

#profile-container {
    width: 80%;
    min-width: 500px;
    max-width: 860px;
    background-color: white;
    padding: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#profile-header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px white solid;
    outline: 2px dodgerblue solid;
    object-fit: cover;
}

#profile-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

#profile-info {
    height: 200px;
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: space-evenly;
}

#profile-header h1 {
    font-size: 43px;
    color: var(--fontcolor);
}

#profile-buttons-container {
    display: flex;
    justify-content: space-between;
}

#send-request {
    border: none;
    background-color: dodgerblue;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
}

#block {
    border: none;
    background-color: crimson;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
}

#block:hover, #send-request:hover {
    cursor: pointer;
}

#friends-count {
    width: fit-content;
}

#friends-count:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    #profile-header {
        flex-direction: column;
    }
    #friends-count, #profile-info h1 {
        text-align: center;
        width: 100%;
    }
}

.hr {
    width: 95%;
    height: .7px;
    background-color: rgba(160, 160, 160, 0.651);
    margin: 25px 0;
}

ul {
    list-style: none;
}

/*POSTS DISPLAY SECTION*/
#posts-container {
    max-width: 590px;
}

#posts-container-ul {
    width: 100%;
}

.post-header {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.post-header h2 {
    margin-left: 10px;
}

.post-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px white solid;
    outline: 1px dodgerblue solid;
    object-fit: cover;
    margin-left: 10px;
}

.post-photo {
    width: 100%;
}

.post-description-username {
    font-weight: 500;
}

.like-comment{
    width: 22%;
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
}

.post-comments {
    margin: 20px 0;
}

.comment-label {
    color: rgba(0, 0, 0, 0.404);
}

.post-comments li {
    padding-left: 35px;
}

.post-comments li span {
    font-size: 18px;
}

.post-comments li>span:nth-child(1) {
    margin-right: 12px;
    font-weight: 600;
}

.post-photo {
    border-radius: 10px;
}

.post-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-style: italic;
    font-size: 14px;
}

#profile-header-add {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#add-post, #add-status {
    border: none;
    background-color: rgb(59, 87, 137);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    transition: .3s;
}

#add-post:hover, #add-status:hover {
    cursor: pointer;
    background-color: rgb(21, 22, 83);
    transition: .3s;
}